@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
    --font-primary: Poppins;

    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-primary: #ffc436;
    --clr-primary-light: #ffd36b;
    --clr-primary-dark: #e7b131;
    --clr-primary-extra-dark: #b38825;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    background-color: rgb(145, 238, 145, 0.2);
    border: 2px solid lightgreen;
}

.main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 100px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px 1px silver;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.10rem;
}

.navbar--main-logo img {
    width: 130px;
    object-fit: cover;
}

.navbar--list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar--list a {
    text-decoration: none;
    color: black;
}

.navbar--form {
    cursor: pointer;
}

.greet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.greet img {
    width: 35px;
    object-fit: cover;
}

.navbar--context-menu {
    position: absolute;
    width: max-content;
    line-height: 2rem;
    box-shadow: 0px 1px 10px 0px grey;
    background-color: var(--clr-white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 10px;
    border-radius: 7px;
    visibility: hidden;
    top: 10%;
    right: 2.5%;
}

.navbar--context-menu-link {
    width: 100%;
    text-decoration: none;
    color: black;
}

.navbar--context-menu-link:hover {
    color: var(--clr-primary);
}

.greet:hover .navbar--context-menu {
    visibility: visible;
}

/* 
************************************************************************************************
****** end of header ***************************************************************************
************************************************************************************************/
/* 


************************************************************************************************
****** profile page layout *********************************************************************
************************************************************************************************/

.profile-layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);

}

.profile-layout-c1 {
    /* width: 300px;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    gap: 5px; */
    padding: 10px 0px 10px 10px;
}

.layout-c1-sub {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 55px;
    /* box-shadow: 1px 1px 10px 2px silver; */
}

.profile-layout-c2 {
    flex-grow: 4;
}

.layout-navigation-button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-weight: 600;
    cursor: pointer;
}

.layout-navigation-button:hover,
.layout-navigation-button-active {
    background-color: var(--clr-primary-extra-dark);
    color: var(--clr-white);
}

.layout-action-button:hover {
    background-color: rgb(241, 241, 241);
}

/***********************************************************************************************
****** end of  profile page layout *************************************************************
************************************************************************************************/

/***********************************************************************************************
******  my vehicle container and my vehicle ****************************************************
************************************************************************************************/
.my-vehicle-container {
    /* border: 1px solid red; */
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.my-vehicle-action-bar {
    flex-shrink: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 55px;
}

.my-vehicle-action-bar a {
    height: 100%;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    color: var(--clr-black);
    border-radius: 10px;
    gap: 5px;
}

.my-vehicle-card {
    box-shadow: 1px 1px 10px 2px silver;
    flex-shrink: 0;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    display: flex;
}

.my-vehicle-card:hover {
    background-color: rgb(236, 236, 236);
}

.my-vehicle-card>img {
    min-width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.my-vehicle-card>.description {
    width: 100%;
    padding: 20px;
    font-family: var(--font-primary);
}

.my-vehicle-card>.description>.section {
    margin-bottom: 20px;
}

.my-vehicle-card>.description h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.my-vehicle-card>.description h2 {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 5px;
}


.my-vehicle-card>.description .description-line {
    margin-bottom: 5px;
}

.my-vehicle-card>.description .description-title {
    font-weight: 600;
}

/***********************************************************************************************
******  end my vehicle container and my vehicle ************************************************
************************************************************************************************/

/***********************************************************************************************
****** vehicle container and my vehicle ********************************************************
************************************************************************************************/
.vehicle-container {
    min-width: 990px;
    max-width: 990px;
    padding: 20px 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
}

.vehicle-card {
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    border-radius: 7px;
    box-shadow: 1px 1px 10px 2px silver;
}

.vehicle-card--image-container {
    height: 210px;
    width: 100%;
}

.vehicle-card--image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.vehicle-card--description {
    height: 200px;
    padding: 10px;
}

.vehicle-card--description-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}


.vehicle-card--description-grid>.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-left: 1px solid silver;
}

.vehicle-card--description-grid>.grid-item:first-child {
    border-left: none;
}

.vehicle-card--description-grid>.grid-item>p {
    font-size: 0.8rem;
}