@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
    --font-primary: Poppins;

    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-primary: #ffc436;
    --clr-primary-light: #ffd36b;
    --clr-primary-dark: #e7b131;
    --clr-primary-extra-dark: #b38825;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    background-color: rgb(145, 238, 145, 0.1);
    border: 2px solid lightgreen;
}

.main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 100px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px 1px silver;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.10rem;
}

.navbar--main-logo img {
    width: 130px;
    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 0;
}

.navbar--list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-grow: 0;
}

.navbar--list a {
    text-decoration: none;
    color: black;
    justify-self: end;
}

.navbar--form {
    cursor: pointer;
    width: 160px;
    display: flex;
    justify-content: flex-end;
}

.greet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.greet img {
    width: 35px;
    object-fit: cover;
}

.navbar--context-menu {
    position: absolute;
    width: max-content;
    line-height: 2rem;
    box-shadow: 0px 1px 10px 0px grey;
    background-color: var(--clr-white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 10px;
    border-radius: 7px;
    visibility: hidden;
    top: 10%;
    right: 2.5%;
}

.navbar--context-menu-link {
    width: 100%;
    text-decoration: none;
    color: black;
}

.navbar--context-menu-link:hover {
    color: var(--clr-primary);
}

.greet:hover .navbar--context-menu {
    visibility: visible;
}

/* 
************************************************************************************************
****** end of header ***************************************************************************
************************************************************************************************/
/* 


/********** user registration ++++++++++++++++++++++++++++ */
.reg-form-container {
    margin-top: 50px;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reg-form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.reg-form-container button {
    width: 80px;
    height: 40px;
    background-color: #ffc436;
    border-radius: 7px;
    border: none;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 10px;
}

.reg-form-gap-fix {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/************************************************************************************************
****** profile page layout *********************************************************************
************************************************************************************************/

.profile-layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);

}

.profile-layout-c1 {
    padding: 10px 0px 10px 10px;
}

.layout-c1-sub {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 55px;
}

.profile-layout-c2 {
    flex-grow: 4;
}

.layout-navigation-button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-weight: 600;
    cursor: pointer;
}

.layout-navigation-button:hover,
.layout-navigation-button-active {
    background-color: var(--clr-primary-extra-dark);
    color: var(--clr-white);
}

.layout-action-button:hover {
    background-color: rgb(241, 241, 241);
}

/***********************************************************************************************
****** end of  profile page layout *************************************************************
************************************************************************************************/

/***********************************************************************************************
******  my vehicle container and my vehicle ****************************************************
************************************************************************************************/
.my-vehicle-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.my-vehicle-action-bar {
    flex-shrink: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 55px;
}

.my-vehicle-action-bar a {
    height: 100%;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    color: var(--clr-black);
    border-radius: 10px;
    gap: 5px;
}

.my-vehicle-card {
    box-shadow: 1px 1px 10px 2px silver;
    flex-shrink: 0;
    width: 1000px;
    height: 450px;
    border-radius: 10px;
    display: flex;
}

.my-vehicle-card:hover {
    background-color: rgb(236, 236, 236);
}

.my-vehicle-card>img {
    width: 400px;
    object-fit: cover;
    object-position: 60% 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.my-vehicle-card>.description {
    width: 600px;
    padding: 20px;
    font-family: var(--font-primary);
}

.my-vehicle-card>.description>.section {
    margin-bottom: 20px;
}

.my-vehicle-card>.description h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.my-vehicle-card>.description h2 {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 5px;
}


.my-vehicle-card>.description .description-line {
    margin-bottom: 10px;
}

.my-vehicle-card>.description .description-title {
    font-weight: 600;
}

/***********************************************************************************************
******  end my vehicle container and my vehicle ************************************************
************************************************************************************************/

/***********************************************************************************************
****** vehicle container and vehicles **********************************************************
************************************************************************************************/
.vehicle-container {
    width: 100%;
    padding: 20px calc((100% - 990px) / 2);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
}

.vehicle-card {
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    border-radius: 7px;
    box-shadow: 1px 1px 10px 2px silver;
}

.vehicle-card--image-container {
    height: 210px;
    width: 100%;
}

.vehicle-card--image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.vehicle-card--description {
    height: 200px;
    padding: 10px;
}

.vehicle-card--description-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}


.vehicle-card--description-grid>.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-left: 1px solid silver;
}

.vehicle-card--description-grid>.grid-item:first-child {
    border-left: none;
}

.vehicle-card--description-grid>.grid-item>p {
    font-size: 0.8rem;
}

/***********************************************************************************************
****** vehicle container and vehicles **********************************************************
************************************************************************************************/

/***********************************************************************************************
****** vehicle registration form **** **********************************************************
************************************************************************************************/

.vehicle-form-container {
    width: 100%;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(2, 1fr);
}

.vehicle-form-container .column-one {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vehicle-form-container .column-one img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.vehicle-form-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-primary);
}

.vehicle-form-component>label {
    font-size: 1rem;
    font-weight: 500;
}

.vehicle-form-component>input,
.vehicle-form-component>select {
    height: 40px;
    padding-inline-start: 0.6em;
    font-size: 1rem;
    outline: none !important;
    border: 1.5px solid silver;
    border-radius: 7px;
    font-family: var(--font-primary);
}

.vehicle-form-component>input[type=file] {
    margin-top: 20px;
    padding: 0;
}

.vehicle-form-component>input[type=file]::file-selector-button {
    height: 100%;
    width: 120px;
    background-color: silver;
    border: 1px solid silver;
    margin-right: 10px;
}

.vehicle-form-component.checkbox {
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.vehicle-form-component.checkbox>input {
    width: 20px;
}

.vehicle-form-component>textarea {
    outline: none !important;
    padding: 0.6em 0.6em;
    font-size: 1rem;
    outline: none !important;
    border: 1.5px solid silver;
    border-radius: 7px;
    font-family: var(--font-primary);
    text-align: left;
}

.vehicle-form-component>input:focus,
.vehicle-form-component>textarea:focus,
.vehicle-form-component>select:focus {
    border: 1.5px solid var(--clr-primary-dark);
}

.vehicle-form-container .column-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.component-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.vehicle-form-button-container {
    align-self: flex-end;
}

.vehicle-form-button-container button {
    width: 80px;
    height: 40px;
    background-color: #ffc436;
    border-radius: 7px;
    border: none;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 10px;
}

.vehicle-form-button-container button:hover {
    background-color: #e7b131;
    cursor: pointer;
}

/***********************************************************************************************
****** end of  vehicle registration form *******************************************************
************************************************************************************************/

/***********************************************************************************************
****** popup box *******************************************************************************
************************************************************************************************/
.popup-container {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    display: none;
    transition: transform 0.5s, top 0.5s;
}

.popup-container-visible {
    display: block;
    background-color: rgba(0, 0, 0, 0.315);
}

.popup {
    width: max-content;
    min-width: 300px;
    background-color: var(--clr-white);
    border-radius: 7px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    font-family: var(--font-primary);
    display: none;
}

.open-popup {
    display: block;
    top: 40%;
    transform: translate(-50%, -50%)scale(1);
}

.popup img {
    width: 70px;
    margin-top: -35px;
    border-radius: 50%;
}

.popup h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0 10px;
}

.popup p {
    font-size: 0.9rem;
    text-align: left;
}

.popup button {
    width: 25%;
    margin-top: 30px;
    padding: 7px 0;
    background-color: var(--clr-black);
    color: #fff;
    outline: none;
    font-family: var(--font-primary);
    font-size: 0.9em;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.p {
    font-size: 0.8rem;
    font-family: var(--font-primary);
}

/* vehicle details view */
.vehicle-form-component>input:disabled,
.vehicle-form-component>textarea:disabled,
.vehicle-form-component>select:disabled {
    border: none;
    outline: none;
    color: black;
}

.vehicle-details-view-button-container {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
    width: 300px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.vehicle-details-view-button-container>a {
    width: 100%;
}

.vehicle-details-view-button-container button {
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

/*  vehicle details end  */

/* ********************** */

/*  rental form  */
.rental-form-container {
    width: 100%;
    padding: 20px 300px;
    overflow-y: scroll;
}

.rental-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-primary);
}

.rental-form h2 {
    align-self: center;
}

.rental-form h3 {
    margin-bottom: 10px;
}

.rental-form .input-container-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.rental-form .input-container-grid label {
    margin-bottom: 20px;
}

.rental-form .input-container-grid label input {
    width: 100%;
    height: 40px;
    border: 1px solid silver;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    font-family: var(--font-primary);
    border-radius: 7px;
}

.input-container-flex {
    display: flex;
    justify-content: end;
}

.rental-form button {
    width: 130px;
    height: 50px;
    background-color: var(--clr-primary);
    outline: none;
    border-radius: 7px;
    border: none;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
}

/* rentals table */

.table-container{
    font-family: var(--font-primary);
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 220px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 1rem;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}